# Python
backend/.venv/
backend/__pycache__/
backend/**/*.pyc

# Environment
backend/.env
frontend/.env

# Uploads
backend/uploads/

# Node
frontend/node_modules/

# Build
frontend/dist/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store